@model ConnectionsViewModel

<hr />
<div class="btn-group pull-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Invitations <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a asp-area="" asp-controller="Connections" asp-action="CreateInvitation">Create new invitation</a></li>
        <li role="separator" class="divider"></li>
        <li><a asp-area="" asp-controller="Connections" asp-action="AcceptInvitation">Accept invitation</a></li>
    </ul>
</div>
<div class="clearfix"></div>
@if (Model.Invitations.Any())
{
    <h2>Invitations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Invitations)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Connections" asp-action="Details" asp-route-id="@item.ConnectionId">@(item.Alias?.Name ?? item.ConnectionId)</a>
                    </td>
                    <td>
                        @item.State
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.Connections.Any())
{
    <h2>Connections</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Connections)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Connections" asp-action="Details" asp-route-id="@item.ConnectionId">@(item.Alias?.Name ?? item.ConnectionId)</a>
                    </td>
                    <td>
                        @item.State
                    </td>
                </tr>
            }
        </tbody>
    </table>
}