@model ProvisioningRecord

@{
    ViewData["Title"] = "Home";
}
<h2>@Model.Owner.Name</h2>
<hr />
<div class="row">
    <div class="col-md-1">
        <img style="width: 100px; height: 100px" src="@Model.Owner.ImageUrl" class="img-circle" alt="@Model.Owner.Name">
    </div>
    <div class="col-md-11">
        <dl class="dl-horizontal">

            <dt>Did</dt>
            <dd>@Model.Endpoint.Did</dd>

            <dt>Verkey</dt>
            <dd>@Model.Endpoint.Verkey</dd>

            <dt>Url</dt>
            <dd>@Model.Endpoint.Uri</dd>
        </dl>
    </div>
</div>

