@model AgentFramework.Core.Models.Records.ConnectionRecord

<h4>Connection Details</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.State)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.State)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.MyDid)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.MyDid)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.TheirDid)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TheirDid)
    </dd>
</dl>